.main-article {
    min-height: 100vh;
    position: relative;
    background-size: cover;
    background-position: center;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    &__header {
        text-transform: uppercase;
        font-size: calc(var(--index) * 1.8);
        letter-spacing: calc(var(--index) / 7.5);
        transform: translate3d(0, calc(var(--scrollTop) / -8), 0);
        will-change: transform;
        transition: var(--transition);
    }
    &__pharagraph {
        max-width: calc(var(--index) * 28);
        font-size: calc(var(--index) * .9);
        margin-top: calc(var(--index) / 1.25);
        transform: translate3d(0, calc(var(--scrollTop) / -8), 0);
        will-change: transform;
        transition: var(--transition);
    }
}
.copy {
    position: absolute;
    bottom: calc(var(--index) * 2.5);
    opacity: .45;
    font-size: calc(var(--index) * .75);
    letter-spacing: calc(var(--index) / 37.5);
}
.container {
    will-change: transform;
}